@model MyBlog.Models.QuestionnaireViewModel
@{
    ViewBag.Title = "Thanks!";
}

<h2>Thanks for answers, your results:</h2>

<dl>
    <dt>@Html.LabelFor(q => q.Word):</dt>
    <dd>
        @Html.DisplayFor(q => q.Word)
    </dd>
    <dt>@Html.LabelFor(q => q.Country):</dt>
    <dd>
        @Html.DisplayFor(q => q.Country)
    </dd>
    <dt>@Html.LabelFor(q => q.Rate):</dt>
    <dd>
        @Html.DisplayFor(q => q.Rate)
    </dd>
    <dt>@Html.LabelFor(q => q.Favourites):</dt>
    <dd>
        @foreach(var f in Model.Favourites)
        {
            <span>@f </span>
        }
    </dd>
</dl>